<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://cdn.pixabay.com/photo/2017/06/10/07/10/database-2389207_1280.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="form">
            <div class="form-outline mb-4">
                <h3 class="text-center text-black-50">Réinitialiser votre mot de passe.</h3>
              </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input formControlName="email" type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Entrez une adresse email valide" required />
                <div *ngIf="getField('email')?.touched && getField('email')?.invalid">
                    <div class="alert alert-danger" *ngIf="getField('email')?.errors?.required">Champ requis.</div>
                    <div class="alert alert-danger" *ngIf="getField('email')?.errors?.email">Adresse email invalid.</div>
                </div>
            </div>
  

  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button [disabled]="this.form?.invalid" (click)="onResetPassword()" type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Réinitialiser</button>
              <p class="small fw-bold mt-2 pt-1 mb-0"><a routerLink="/login"
                  class="link-danger">Se connectez</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    
  </section>
  